<div class="container my-5">
  <h1 class="mb-3">Edit User</h1>
  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="updateUser()">
        <div class="mb-3">
          <label for="name" class="form-label">Id</label>
          <input
            type="text"
            class="form-control"
            id="id"
            name="id"
            [(ngModel)]="userDetails.id"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="userDetails.name"
          />
        </div>
        <div class="mb-3">
          <label for="surname" class="form-label">Surname</label>
          <input
            type="text"
            class="form-control"
            id="surname"
            name="surname"
            [(ngModel)]="userDetails.surname"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="userDetails.email"
          />
        </div>
        <label for="password" class="form-label">Password</label>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="userDetails.password"
          />
        </div>
        
        <button type="submit" class="btn btn-success">Edit</button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteUser(userDetails.id)"
        >
          Delete
        </button>
      </form>
    </div>
  </div>
</div>
